@charset "utf-8";

/**************************************************
		Reset
**************************************************/
* {
	margin:0;
	padding:0;
	font-size:100%;
	font-family:"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Arial,"ＭＳ Ｐゴシック","MS P Gothic",Osaka,sans-serif;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	background:#fff;
	color:#000;
}

article, aside, dialog, figure, header, footer, hgroup, nav, section {
	display:block;
}

img {
	border:0;
	vertical-align:bottom;
	-ms-interpolation-mode:bicubic;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-ms-box-sizing:content-box;
	-o-box-sizing:content-box;
	box-sizing:content-box;
}

ul li, ol li {
	list-style-type:none;
	list-style-position:outside;
}

table {
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}

caption { text-align:left; }

th, td {
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

sub, sup {
	position:relative;
	font-size:11px;
	font-size:0.75rem;
	line-height:0;
	vertical-align:baseline;
}

sub { bottom:-0.1em; }
sup { top:-0.5em; }

strong, em { font-size:inherit; }


/**************************************************
		Setting
**************************************************/
body {
	min-width:1020px;
	color:#333;
	text-align:left;
	-webkit-text-size-adjust:100%;
}

a { color:#003cff; text-decoration:underline; }
a:hover { color:#003cff; text-decoration:none; }

.skip {
	overflow:hidden;
	width:0;
	height:0;
	position:absolute;
}

.onlyPC { display:block !important; }
.onlySP { display:none !important; }
br.onlyPC { display:inline !important; }


/* ===== Clearfix ===== */
.clearFix { display:inline-table; }
.clearFix:after {
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	content:"";
}
/* Hides from IE-mac \*/
* html .clearFix { height:1%; }
*:first-child+html .clearFix { height:1%; }
.clearFix { display:block; }
/* End hide from IE-mac */


/**************************************************
		Header
**************************************************/
#headerWrapper {
	width:100%;
}

#headerArea {
	position:relative;
	margin:0 auto;
	padding:20px 0;
	width:1020px;
}


/* ===== Logo ===== */
#headerArea .logo {
	position:absolute;
	top:20px;
	left:0;
}


/* ===== Contact ===== */
#headerContact {
	position:absolute;
	top:40px;
	right:0;
	line-height:1;
}

#headerContact li {
	float:left;
	margin-left:20px;
}


/* ===== Main Menu ===== */
#mainMenu {
	padding-top:90px;
	font-size:14px;
	font-size:0.88rem;
	font-weight:bold;
	text-align:center;
	letter-spacing:-1em;
}

#mainMenu li {
	display:inline-block;
	line-height:1;
	letter-spacing:normal;
}

#mainMenu li a {
	display:block;
	padding:15px 35px 0 35px;
	color:#333;
	text-decoration:none;
}

#mainMenu li a:after {
	display:block;
	margin:15px auto 0 auto;
	width:30px;
	height:3px;
	background:#fff;
	content:'';
	text-align:center;
}

#mainMenu li:last-child a {
	padding-right:0;
}

#mainMenu li a:hover { color:#e40321; }

#home #mainMenu .btHome a,
#overview #mainMenu .btOverview a,
#about #mainMenu .btAbout a,
#program #mainMenu .btProgram a,
#indonesia #mainMenu .btIndonesia a { color:#e40321; }

#home #mainMenu .btHome a:after,
#overview #mainMenu .btOverview a:after,
#about #mainMenu .btAbout a:after,
#program #mainMenu .btProgram a:after,
#indonesia #mainMenu .btIndonesia a:after { background:#e40321; }


/**************************************************
		Contents
**************************************************/
#mainWrapper {
	position:relative;
	width:100%;
}

#mainArea {
	padding:40px 0 0 0;
	width:100%;
}

#home #mainArea {
	padding:0;
}


/* ===== Pagetop ===== */
#pagetop {
	clear:both;
	padding:30px 0;
}

#pagetop p {
	margin:0 auto;
	width:1020px;
	text-align:right;
}


/**************************************************
		Footer
**************************************************/
#footerWrapper {
	position:relative;
	border-top:4px solid #e40321;
}


/* ===== Sitemap ===== */
#footerSitemap {
	margin:0 auto;
	padding:50px 0;
	width:1020px;
}

#footerSitemap .logo {
	float:left;
	margin-right:100px;
	width:410px;
}

#footerSitemap .footerMenu {
	float:left;
	border-top:1px solid #ddd;
	padding-top:20px;
	width:230px;
	font-size:13px;
	font-size:0.82rem;
	font-weight:bold;
}

#footerSitemap .footerMenu li {
	margin-bottom:20px;
	line-height:1.5;
}

#footerSitemap .footerMenu li:last-child { margin-bottom:0; }

#footerSitemap .footerMenu li a { color:#333; text-decoration:none; }
#footerSitemap .footerMenu li a:hover { color:#e40321; text-decoration:underline; }


#footerSitemap .contact {
	float:right;
	width:230px;
	text-align:center;
}

#footerSitemap .contact li {
	margin-bottom:20px;
}


/* ===== Banner ===== */
#footerBanner {
	padding:17px 0;
	background:#f2f0f0;
}

#footerBanner ul {
	margin:0 auto;
	width:1020px;
	text-align:center;
}

#footerBanner ul li {
	display:inline-block;
	padding:0 10px;
}

#footerBanner ul li a:hover { opacity:0.5; }


/* ===== Copyright ===== */
#footerArea {
	margin:0 auto;
	padding:20px 0;
	width:1020px;
}

#copyright {
	font-size:12px;
	font-size:0.75rem;
	color:#999;
	line-height:1;
	text-align:center;
	letter-spacing:0.25em;
}


/**************************************************
		Common
**************************************************/
/* ===== Margin ===== */
.mAuto { margin-left:auto !important; margin-right:auto !important; }

.ma0  { margin:0 !important; }
.ma1  { margin:1px !important; }
.ma2  { margin:2px !important; }
.ma3  { margin:3px !important; }
.ma4  { margin:4px !important; }
.ma5  { margin:5px !important; }
.ma6  { margin:6px !important; }
.ma7  { margin:7px !important; }
.ma8  { margin:8px !important; }
.ma9  { margin:9px !important; }
.ma10 { margin:10px !important; }
.ma11 { margin:11px !important; }
.ma12 { margin:12px !important; }
.ma13 { margin:13px !important; }
.ma14 { margin:14px !important; }
.ma15 { margin:15px !important; }
.ma16 { margin:16px !important; }
.ma17 { margin:17px !important; }
.ma18 { margin:18px !important; }
.ma19 { margin:19px !important; }
.ma20 { margin:20px !important; }
.ma25 { margin:25px !important; }
.ma30 { margin:30px !important; }
.ma35 { margin:35px !important; }
.ma40 { margin:40px !important; }

.mt0   { margin-top:0 !important; }
.mt1   { margin-top:1px !important; }
.mt2   { margin-top:2px !important; }
.mt3   { margin-top:3px !important; }
.mt4   { margin-top:4px !important; }
.mt5   { margin-top:5px !important; }
.mt6   { margin-top:6px !important; }
.mt7   { margin-top:7px !important; }
.mt8   { margin-top:8px !important; }
.mt9   { margin-top:9px !important; }
.mt10  { margin-top:10px !important; }
.mt11  { margin-top:11px !important; }
.mt12  { margin-top:12px !important; }
.mt13  { margin-top:13px !important; }
.mt14  { margin-top:14px !important; }
.mt15  { margin-top:15px !important; }
.mt16  { margin-top:16px !important; }
.mt17  { margin-top:17px !important; }
.mt18  { margin-top:18px !important; }
.mt19  { margin-top:19px !important; }
.mt20  { margin-top:20px !important; }
.mt25  { margin-top:25px !important; }
.mt30  { margin-top:30px !important; }
.mt35  { margin-top:35px !important; }
.mt40  { margin-top:40px !important; }
.mt45  { margin-top:45px !important; }
.mt50  { margin-top:50px !important; }
.mt55  { margin-top:55px !important; }
.mt60  { margin-top:60px !important; }
.mt65  { margin-top:65px !important; }
.mt70  { margin-top:70px !important; }
.mt75  { margin-top:75px !important; }
.mt80  { margin-top:80px !important; }
.mt85  { margin-top:85px !important; }
.mt90  { margin-top:90px !important; }
.mt95  { margin-top:95px !important; }
.mt100 { margin-top:100px !important; }

.mb0   { margin-bottom:0 !important; }
.mb1   { margin-bottom:1px !important; }
.mb2   { margin-bottom:2px !important; }
.mb3   { margin-bottom:3px !important; }
.mb4   { margin-bottom:4px !important; }
.mb5   { margin-bottom:5px !important; }
.mb6   { margin-bottom:6px !important; }
.mb7   { margin-bottom:7px !important; }
.mb8   { margin-bottom:8px !important; }
.mb9   { margin-bottom:9px !important; }
.mb10  { margin-bottom:10px !important; }
.mb11  { margin-bottom:11px !important; }
.mb12  { margin-bottom:12px !important; }
.mb13  { margin-bottom:13px !important; }
.mb14  { margin-bottom:14px !important; }
.mb15  { margin-bottom:15px !important; }
.mb16  { margin-bottom:16px !important; }
.mb17  { margin-bottom:17px !important; }
.mb18  { margin-bottom:18px !important; }
.mb19  { margin-bottom:19px !important; }
.mb20  { margin-bottom:20px !important; }
.mb25  { margin-bottom:25px !important; }
.mb30  { margin-bottom:30px !important; }
.mb35  { margin-bottom:35px !important; }
.mb40  { margin-bottom:40px !important; }
.mb45  { margin-bottom:45px !important; }
.mb50  { margin-bottom:50px !important; }
.mb55  { margin-bottom:55px !important; }
.mb60  { margin-bottom:60px !important; }
.mb65  { margin-bottom:65px !important; }
.mb70  { margin-bottom:70px !important; }
.mb75  { margin-bottom:75px !important; }
.mb80  { margin-bottom:80px !important; }
.mb85  { margin-bottom:85px !important; }
.mb90  { margin-bottom:90px !important; }
.mb95  { margin-bottom:95px !important; }
.mb100 { margin-bottom:100px !important; }
.mb110 { margin-bottom:110px !important; }
.mb120 { margin-bottom:120px !important; }
.mb130 { margin-bottom:130px !important; }
.mb140 { margin-bottom:140px !important; }
.mb150 { margin-bottom:150px !important; }

.ml0   { margin-left:0 !important; }
.ml1   { margin-left:1px !important; }
.ml2   { margin-left:2px !important; }
.ml3   { margin-left:3px !important; }
.ml4   { margin-left:4px !important; }
.ml5   { margin-left:5px !important; }
.ml6   { margin-left:6px !important; }
.ml7   { margin-left:7px !important; }
.ml8   { margin-left:8px !important; }
.ml9   { margin-left:9px !important; }
.ml10  { margin-left:10px !important; }
.ml11  { margin-left:11px !important; }
.ml12  { margin-left:12px !important; }
.ml13  { margin-left:13px !important; }
.ml14  { margin-left:14px !important; }
.ml15  { margin-left:15px !important; }
.ml16  { margin-left:16px !important; }
.ml17  { margin-left:17px !important; }
.ml18  { margin-left:18px !important; }
.ml19  { margin-left:19px !important; }
.ml20  { margin-left:20px !important; }
.ml25  { margin-left:25px !important; }
.ml30  { margin-left:30px !important; }
.ml35  { margin-left:35px !important; }
.ml40  { margin-left:40px !important; }
.ml45  { margin-left:45px !important; }
.ml50  { margin-left:50px !important; }
.ml55  { margin-left:55px !important; }
.ml60  { margin-left:60px !important; }
.ml65  { margin-left:65px !important; }
.ml70  { margin-left:70px !important; }
.ml75  { margin-left:75px !important; }
.ml80  { margin-left:80px !important; }
.ml85  { margin-left:85px !important; }
.ml90  { margin-left:90px !important; }
.ml95  { margin-left:95px !important; }
.ml100 { margin-left:100px !important; }

.mr0   { margin-right:0 !important; }
.mr1   { margin-right:1px !important; }
.mr2   { margin-right:2px !important; }
.mr3   { margin-right:3px !important; }
.mr4   { margin-right:4px !important; }
.mr5   { margin-right:5px !important; }
.mr6   { margin-right:6px !important; }
.mr7   { margin-right:7px !important; }
.mr8   { margin-right:8px !important; }
.mr9   { margin-right:9px !important; }
.mr10  { margin-right:10px !important; }
.mr11  { margin-right:11px !important; }
.mr12  { margin-right:12px !important; }
.mr13  { margin-right:13px !important; }
.mr14  { margin-right:14px !important; }
.mr15  { margin-right:15px !important; }
.mr16  { margin-right:16px !important; }
.mr17  { margin-right:17px !important; }
.mr18  { margin-right:18px !important; }
.mr19  { margin-right:19px !important; }
.mr20  { margin-right:20px !important; }
.mr25  { margin-right:25px !important; }
.mr30  { margin-right:30px !important; }
.mr35  { margin-right:35px !important; }
.mr40  { margin-right:40px !important; }
.mr45  { margin-right:45px !important; }
.mr50  { margin-right:50px !important; }
.mr55  { margin-right:55px !important; }
.mr60  { margin-right:60px !important; }
.mr65  { margin-right:65px !important; }
.mr70  { margin-right:70px !important; }
.mr75  { margin-right:75px !important; }
.mr80  { margin-right:80px !important; }
.mr85  { margin-right:85px !important; }
.mr90  { margin-right:90px !important; }
.mr95  { margin-right:95px !important; }
.mr100 { margin-right:100px !important; }


/* ===== Negative Margin ===== */
.mt-1   { margin-top:-1px !important; }
.mt-2   { margin-top:-2px !important; }
.mt-3   { margin-top:-3px !important; }
.mt-4   { margin-top:-4px !important; }
.mt-5   { margin-top:-5px !important; }
.mt-6   { margin-top:-6px !important; }
.mt-7   { margin-top:-7px !important; }
.mt-8   { margin-top:-8px !important; }
.mt-9   { margin-top:-9px !important; }
.mt-10  { margin-top:-10px !important; }
.mt-11  { margin-top:-11px !important; }
.mt-12  { margin-top:-12px !important; }
.mt-13  { margin-top:-13px !important; }
.mt-14  { margin-top:-14px !important; }
.mt-15  { margin-top:-15px !important; }
.mt-16  { margin-top:-16px !important; }
.mt-17  { margin-top:-17px !important; }
.mt-18  { margin-top:-18px !important; }
.mt-19  { margin-top:-19px !important; }
.mt-20  { margin-top:-20px !important; }
.mt-25  { margin-top:-25px !important; }
.mt-30  { margin-top:-30px !important; }
.mt-35  { margin-top:-35px !important; }
.mt-40  { margin-top:-40px !important; }
.mt-45  { margin-top:-45px !important; }
.mt-50  { margin-top:-50px !important; }
.mt-55  { margin-top:-55px !important; }
.mt-60  { margin-top:-60px !important; }
.mt-65  { margin-top:-65px !important; }
.mt-70  { margin-top:-70px !important; }
.mt-75  { margin-top:-75px !important; }
.mt-80  { margin-top:-80px !important; }
.mt-85  { margin-top:-85px !important; }
.mt-90  { margin-top:-90px !important; }
.mt-95  { margin-top:-95px !important; }
.mt-100 { margin-top:-100px !important; }
.mt-110 { margin-top:-110px !important; }
.mt-120 { margin-top:-120px !important; }
.mt-130 { margin-top:-130px !important; }
.mt-140 { margin-top:-140px !important; }
.mt-150 { margin-top:-150px !important; }

.mb-1   { margin-bottom:-1px !important; }
.mb-2   { margin-bottom:-2px !important; }
.mb-3   { margin-bottom:-3px !important; }
.mb-4   { margin-bottom:-4px !important; }
.mb-5   { margin-bottom:-5px !important; }
.mb-6   { margin-bottom:-6px !important; }
.mb-7   { margin-bottom:-7px !important; }
.mb-8   { margin-bottom:-8px !important; }
.mb-9   { margin-bottom:-9px !important; }
.mb-10  { margin-bottom:-10px !important; }
.mb-11  { margin-bottom:-11px !important; }
.mb-12  { margin-bottom:-12px !important; }
.mb-13  { margin-bottom:-13px !important; }
.mb-14  { margin-bottom:-14px !important; }
.mb-15  { margin-bottom:-15px !important; }
.mb-16  { margin-bottom:-16px !important; }
.mb-17  { margin-bottom:-17px !important; }
.mb-18  { margin-bottom:-18px !important; }
.mb-19  { margin-bottom:-19px !important; }
.mb-20  { margin-bottom:-20px !important; }
.mb-25  { margin-bottom:-25px !important; }
.mb-30  { margin-bottom:-30px !important; }
.mb-35  { margin-bottom:-35px !important; }
.mb-40  { margin-bottom:-40px !important; }
.mb-45  { margin-bottom:-45px !important; }
.mb-50  { margin-bottom:-50px !important; }
.mb-55  { margin-bottom:-55px !important; }
.mb-60  { margin-bottom:-60px !important; }
.mb-65  { margin-bottom:-65px !important; }
.mb-70  { margin-bottom:-70px !important; }
.mb-75  { margin-bottom:-75px !important; }
.mb-80  { margin-bottom:-80px !important; }
.mb-85  { margin-bottom:-85px !important; }
.mb-90  { margin-bottom:-90px !important; }
.mb-95  { margin-bottom:-95px !important; }
.mb-100 { margin-bottom:-100px !important; }

.ml-1   { margin-left:-1px !important; }
.ml-2   { margin-left:-2px !important; }
.ml-3   { margin-left:-3px !important; }
.ml-4   { margin-left:-4px !important; }
.ml-5   { margin-left:-5px !important; }
.ml-6   { margin-left:-6px !important; }
.ml-7   { margin-left:-7px !important; }
.ml-8   { margin-left:-8px !important; }
.ml-9   { margin-left:-9px !important; }
.ml-10  { margin-left:-10px !important; }
.ml-11  { margin-left:-11px !important; }
.ml-12  { margin-left:-12px !important; }
.ml-13  { margin-left:-13px !important; }
.ml-14  { margin-left:-14px !important; }
.ml-15  { margin-left:-15px !important; }
.ml-16  { margin-left:-16px !important; }
.ml-17  { margin-left:-17px !important; }
.ml-18  { margin-left:-18px !important; }
.ml-19  { margin-left:-19px !important; }
.ml-20  { margin-left:-20px !important; }
.ml-25  { margin-left:-25px !important; }
.ml-30  { margin-left:-30px !important; }
.ml-35  { margin-left:-35px !important; }
.ml-40  { margin-left:-40px !important; }
.ml-45  { margin-left:-45px !important; }
.ml-50  { margin-left:-50px !important; }
.ml-55  { margin-left:-55px !important; }
.ml-60  { margin-left:-60px !important; }
.ml-65  { margin-left:-65px !important; }
.ml-70  { margin-left:-70px !important; }
.ml-75  { margin-left:-75px !important; }
.ml-80  { margin-left:-80px !important; }
.ml-85  { margin-left:-85px !important; }
.ml-90  { margin-left:-90px !important; }
.ml-95  { margin-left:-95px !important; }
.ml-100 { margin-left:-100px !important; }

.mr-1   { margin-right:-1px !important; }
.mr-2   { margin-right:-2px !important; }
.mr-3   { margin-right:-3px !important; }
.mr-4   { margin-right:-4px !important; }
.mr-5   { margin-right:-5px !important; }
.mr-6   { margin-right:-6px !important; }
.mr-7   { margin-right:-7px !important; }
.mr-8   { margin-right:-8px !important; }
.mr-9   { margin-right:-9px !important; }
.mr-10  { margin-right:-10px !important; }
.mr-11  { margin-right:-11px !important; }
.mr-12  { margin-right:-12px !important; }
.mr-13  { margin-right:-13px !important; }
.mr-14  { margin-right:-14px !important; }
.mr-15  { margin-right:-15px !important; }
.mr-16  { margin-right:-16px !important; }
.mr-17  { margin-right:-17px !important; }
.mr-18  { margin-right:-18px !important; }
.mr-19  { margin-right:-19px !important; }
.mr-20  { margin-right:-20px !important; }
.mr-25  { margin-right:-25px !important; }
.mr-30  { margin-right:-30px !important; }
.mr-35  { margin-right:-35px !important; }
.mr-40  { margin-right:-40px !important; }
.mr-45  { margin-right:-45px !important; }
.mr-50  { margin-right:-50px !important; }
.mr-55  { margin-right:-55px !important; }
.mr-60  { margin-right:-60px !important; }
.mr-65  { margin-right:-65px !important; }
.mr-70  { margin-right:-70px !important; }
.mr-75  { margin-right:-75px !important; }
.mr-80  { margin-right:-80px !important; }
.mr-85  { margin-right:-85px !important; }
.mr-90  { margin-right:-90px !important; }
.mr-95  { margin-right:-95px !important; }
.mr-100 { margin-right:-100px !important; }


/* ===== Padding ===== */
.pa0  { padding:0 !important; }
.pa1  { padding:1px !important; }
.pa2  { padding:2px !important; }
.pa3  { padding:3px !important; }
.pa4  { padding:4px !important; }
.pa5  { padding:5px !important; }
.pa6  { padding:6px !important; }
.pa7  { padding:7px !important; }
.pa8  { padding:8px !important; }
.pa9  { padding:9px !important; }
.pa10 { padding:10px !important; }
.pa11 { padding:11px !important; }
.pa12 { padding:12px !important; }
.pa13 { padding:13px !important; }
.pa14 { padding:14px !important; }
.pa15 { padding:15px !important; }
.pa16 { padding:16px !important; }
.pa17 { padding:17px !important; }
.pa18 { padding:18px !important; }
.pa19 { padding:19px !important; }
.pa20 { padding:20px !important; }
.pa25 { padding:25px !important; }
.pa30 { padding:30px !important; }
.pa35 { padding:35px !important; }
.pa40 { padding:40px !important; }

.pt0   { padding-top:0 !important; }
.pt1   { padding-top:1px !important; }
.pt2   { padding-top:2px !important; }
.pt3   { padding-top:3px !important; }
.pt4   { padding-top:4px !important; }
.pt5   { padding-top:5px !important; }
.pt6   { padding-top:6px !important; }
.pt7   { padding-top:7px !important; }
.pt8   { padding-top:8px !important; }
.pt9   { padding-top:9px !important; }
.pt10  { padding-top:10px !important; }
.pt11  { padding-top:11px !important; }
.pt12  { padding-top:12px !important; }
.pt13  { padding-top:13px !important; }
.pt14  { padding-top:14px !important; }
.pt15  { padding-top:15px !important; }
.pt16  { padding-top:16px !important; }
.pt17  { padding-top:17px !important; }
.pt18  { padding-top:18px !important; }
.pt19  { padding-top:19px !important; }
.pt20  { padding-top:20px !important; }
.pt25  { padding-top:25px !important; }
.pt30  { padding-top:30px !important; }
.pt35  { padding-top:35px !important; }
.pt40  { padding-top:40px !important; }
.pt45  { padding-top:45px !important; }
.pt50  { padding-top:50px !important; }
.pt55  { padding-top:55px !important; }
.pt60  { padding-top:60px !important; }
.pt65  { padding-top:65px !important; }
.pt70  { padding-top:70px !important; }
.pt75  { padding-top:75px !important; }
.pt80  { padding-top:80px !important; }
.pt85  { padding-top:85px !important; }
.pt90  { padding-top:90px !important; }
.pt95  { padding-top:95px !important; }
.pt100 { padding-top:100px !important; }

.pb0   { padding-bottom:0 !important; }
.pb1   { padding-bottom:1px !important; }
.pb2   { padding-bottom:2px !important; }
.pb3   { padding-bottom:3px !important; }
.pb4   { padding-bottom:4px !important; }
.pb5   { padding-bottom:5px !important; }
.pb6   { padding-bottom:6px !important; }
.pb7   { padding-bottom:7px !important; }
.pb8   { padding-bottom:8px !important; }
.pb9   { padding-bottom:9px !important; }
.pb10  { padding-bottom:10px !important; }
.pb11  { padding-bottom:11px !important; }
.pb12  { padding-bottom:12px !important; }
.pb13  { padding-bottom:13px !important; }
.pb14  { padding-bottom:14px !important; }
.pb15  { padding-bottom:15px !important; }
.pb16  { padding-bottom:16px !important; }
.pb17  { padding-bottom:17px !important; }
.pb18  { padding-bottom:18px !important; }
.pb19  { padding-bottom:19px !important; }
.pb20  { padding-bottom:20px !important; }
.pb25  { padding-bottom:25px !important; }
.pb30  { padding-bottom:30px !important; }
.pb35  { padding-bottom:35px !important; }
.pb40  { padding-bottom:40px !important; }
.pb45  { padding-bottom:45px !important; }
.pb50  { padding-bottom:50px !important; }
.pb55  { padding-bottom:55px !important; }
.pb60  { padding-bottom:60px !important; }
.pb65  { padding-bottom:65px !important; }
.pb70  { padding-bottom:70px !important; }
.pb75  { padding-bottom:75px !important; }
.pb80  { padding-bottom:80px !important; }
.pb85  { padding-bottom:85px !important; }
.pb90  { padding-bottom:90px !important; }
.pb95  { padding-bottom:95px !important; }
.pb100 { padding-bottom:100px !important; }

.pl0   { padding-left:0 !important; }
.pl1   { padding-left:1px !important; }
.pl2   { padding-left:2px !important; }
.pl3   { padding-left:3px !important; }
.pl4   { padding-left:4px !important; }
.pl5   { padding-left:5px !important; }
.pl6   { padding-left:6px !important; }
.pl7   { padding-left:7px !important; }
.pl8   { padding-left:8px !important; }
.pl9   { padding-left:9px !important; }
.pl10  { padding-left:10px !important; }
.pl11  { padding-left:11px !important; }
.pl12  { padding-left:12px !important; }
.pl13  { padding-left:13px !important; }
.pl14  { padding-left:14px !important; }
.pl15  { padding-left:15px !important; }
.pl16  { padding-left:16px !important; }
.pl17  { padding-left:17px !important; }
.pl18  { padding-left:18px !important; }
.pl19  { padding-left:19px !important; }
.pl20  { padding-left:20px !important; }
.pl25  { padding-left:25px !important; }
.pl30  { padding-left:30px !important; }
.pl35  { padding-left:35px !important; }
.pl40  { padding-left:40px !important; }
.pl45  { padding-left:45px !important; }
.pl50  { padding-left:50px !important; }
.pl55  { padding-left:55px !important; }
.pl60  { padding-left:60px !important; }
.pl65  { padding-left:65px !important; }
.pl70  { padding-left:70px !important; }
.pl75  { padding-left:75px !important; }
.pl80  { padding-left:80px !important; }
.pl85  { padding-left:85px !important; }
.pl90  { padding-left:90px !important; }
.pl95  { padding-left:95px !important; }
.pl100 { padding-left:100px !important; }

.pr0   { padding-right:0 !important; }
.pr1   { padding-right:1px !important; }
.pr2   { padding-right:2px !important; }
.pr3   { padding-right:3px !important; }
.pr4   { padding-right:4px !important; }
.pr5   { padding-right:5px !important; }
.pr6   { padding-right:6px !important; }
.pr7   { padding-right:7px !important; }
.pr8   { padding-right:8px !important; }
.pr9   { padding-right:9px !important; }
.pr10  { padding-right:10px !important; }
.pr11  { padding-right:11px !important; }
.pr12  { padding-right:12px !important; }
.pr13  { padding-right:13px !important; }
.pr14  { padding-right:14px !important; }
.pr15  { padding-right:15px !important; }
.pr16  { padding-right:16px !important; }
.pr17  { padding-right:17px !important; }
.pr18  { padding-right:18px !important; }
.pr19  { padding-right:19px !important; }
.pr20  { padding-right:20px !important; }
.pr25  { padding-right:25px !important; }
.pr30  { padding-right:30px !important; }
.pr35  { padding-right:35px !important; }
.pr40  { padding-right:40px !important; }
.pr45  { padding-right:45px !important; }
.pr50  { padding-right:50px !important; }
.pr55  { padding-right:55px !important; }
.pr60  { padding-right:60px !important; }
.pr65  { padding-right:65px !important; }
.pr70  { padding-right:70px !important; }
.pr75  { padding-right:75px !important; }
.pr80  { padding-right:80px !important; }
.pr85  { padding-right:85px !important; }
.pr90  { padding-right:90px !important; }
.pr95  { padding-right:95px !important; }
.pr100 { padding-right:100px !important; }


/* ===== Width ===== */
.w10  { width:10px !important; }
.w20  { width:20px !important; }
.w30  { width:30px !important; }
.w40  { width:40px !important; }
.w50  { width:50px !important; }
.w60  { width:60px !important; }
.w70  { width:70px !important; }
.w80  { width:80px !important; }
.w90  { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w130 { width:130px !important; }
.w140 { width:140px !important; }
.w150 { width:150px !important; }
.w160 { width:160px !important; }
.w170 { width:170px !important; }
.w180 { width:180px !important; }
.w190 { width:190px !important; }
.w200 { width:200px !important; }
.w210 { width:210px !important; }
.w220 { width:220px !important; }
.w230 { width:230px !important; }
.w240 { width:240px !important; }
.w250 { width:250px !important; }
.w260 { width:260px !important; }
.w270 { width:270px !important; }
.w280 { width:280px !important; }
.w290 { width:290px !important; }
.w300 { width:300px !important; }
.w310 { width:310px !important; }
.w320 { width:320px !important; }
.w330 { width:330px !important; }
.w340 { width:340px !important; }
.w350 { width:350px !important; }
.w360 { width:360px !important; }
.w370 { width:370px !important; }
.w380 { width:380px !important; }
.w390 { width:390px !important; }
.w400 { width:400px !important; }
.w410 { width:410px !important; }
.w420 { width:420px !important; }
.w430 { width:430px !important; }
.w440 { width:440px !important; }
.w450 { width:450px !important; }
.w460 { width:460px !important; }
.w465 { width:465px !important; }
.w470 { width:470px !important; }
.w480 { width:480px !important; }
.w490 { width:490px !important; }
.w500 { width:500px !important; }
.w510 { width:510px !important; }
.w520 { width:520px !important; }
.w530 { width:530px !important; }
.w540 { width:540px !important; }
.w550 { width:550px !important; }
.w560 { width:560px !important; }
.w570 { width:570px !important; }
.w580 { width:580px !important; }
.w590 { width:590px !important; }
.w600 { width:600px !important; }
.w610 { width:610px !important; }
.w620 { width:620px !important; }
.w630 { width:630px !important; }
.w640 { width:640px !important; }
.w650 { width:650px !important; }
.w660 { width:660px !important; }
.w670 { width:670px !important; }
.w680 { width:680px !important; }
.w685 { width:685px !important; }
.w690 { width:690px !important; }
.w700 { width:700px !important; }
.w710 { width:710px !important; }
.w720 { width:720px !important; }
.w730 { width:730px !important; }
.w740 { width:740px !important; }
.w750 { width:750px !important; }
.w760 { width:760px !important; }
.w770 { width:770px !important; }
.w780 { width:780px !important; }
.w790 { width:790px !important; }
.w800 { width:800px !important; }
.w810 { width:810px !important; }
.w820 { width:820px !important; }
.w830 { width:830px !important; }
.w840 { width:840px !important; }
.w850 { width:850px !important; }
.w860 { width:860px !important; }
.w870 { width:870px !important; }
.w880 { width:880px !important; }
.w890 { width:890px !important; }
.w900 { width:900px !important; }
.w910 { width:910px !important; }
.w920 { width:920px !important; }
.w930 { width:930px !important; }
.w940 { width:940px !important; }
.w950 { width:950px !important; }
.w960 { width:960px !important; }
.w970 { width:970px !important; }
.w980 { width:980px !important; }
.w990 { width:990px !important; }
.w1000 { width:1000px !important; }
.w1010 { width:1010px !important; }
.w1020 { width:1020px !important; }
.w5p   { width:5% !important; }
.w10p  { width:10% !important; }
.w15p  { width:15% !important; }
.w20p  { width:20% !important; }
.w25p  { width:25% !important; }
.w30p  { width:30% !important; }
.w33p  { width:33% !important; }
.w34p  { width:34% !important; }
.w35p  { width:35% !important; }
.w40p  { width:40% !important; }
.w45p  { width:45% !important; }
.w48p  { width:48% !important; }
.w50p  { width:50% !important; }
.w55p  { width:55% !important; }
.w60p  { width:60% !important; }
.w65p  { width:65% !important; }
.w67p  { width:67% !important; }
.w70p  { width:70% !important; }
.w75p  { width:75% !important; }
.w80p  { width:80% !important; }
.w85p  { width:85% !important; }
.w90p  { width:90% !important; }
.w95p  { width:95% !important; }
.w100p { width:100% !important; }


/* ===== Font ===== */
.font10 { font-size:10px; font-size:0.63rem !important; }
.font11 { font-size:11px; font-size:0.69rem !important; }
.font12 { font-size:12px; font-size:0.75rem !important; }
.font13 { font-size:13px; font-size:0.82rem !important; }
.font14 { font-size:14px; font-size:0.88rem !important; }
.font15 { font-size:15px; font-size:0.94rem !important; }
.font16 { font-size:16px; font-size:1.00rem !important; }
.font17 { font-size:17px; font-size:1.07rem !important; }
.font18 { font-size:18px; font-size:1.13rem !important; }
.font19 { font-size:19px; font-size:1.19rem !important; }
.font20 { font-size:20px; font-size:1.25rem !important; }
.font21 { font-size:21px; font-size:1.32rem !important; }
.font22 { font-size:22px; font-size:1.38rem !important; }
.font23 { font-size:23px; font-size:1.44rem !important; }
.font24 { font-size:24px; font-size:1.50rem !important; }
.font25 { font-size:25px; font-size:1.57rem !important; }
.font26 { font-size:26px; font-size:1.63rem !important; }
.font27 { font-size:27px; font-size:1.69rem !important; }
.font28 { font-size:28px; font-size:1.75rem !important; }
.font29 { font-size:29px; font-size:1.82rem !important; }
.font30 { font-size:30px; font-size:1.88rem !important; }
.font31 { font-size:31px; font-size:1.94rem !important; }
.font32 { font-size:32px; font-size:2.00rem !important; }
.font33 { font-size:33px; font-size:2.07rem !important; }
.font34 { font-size:34px; font-size:2.13rem !important; }
.font35 { font-size:35px; font-size:2.19rem !important; }

.fontW300 { font-weight:300 !important; }
.fontW400 { font-weight:400 !important; }
.fontW500 { font-weight:500 !important; }
.fontW600 { font-weight:600 !important; }
.fontW700 { font-weight:700 !important; }
.fontBold { font-weight:bold !important; }
.fontNormal { font-weight:normal !important; }
.fontItalic { font-style:italic !important; }
.fontCentury { font-family:"Century Gothic","Helvetica Neue",Helvetica,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Arial,"ＭＳ Ｐゴシック","MS P Gothic",Osaka,sans-serif; }

.lh100 { line-height:1.0 !important; }
.lh110 { line-height:1.1 !important; }
.lh120 { line-height:1.2 !important; }
.lh130 { line-height:1.3 !important; }
.lh140 { line-height:1.4 !important; }
.lh150 { line-height:1.5 !important; }
.lh160 { line-height:1.6 !important; }
.lh170 { line-height:1.7 !important; }
.lh180 { line-height:1.8 !important; }
.lh190 { line-height:1.9 !important; }
.lh200 { line-height:2.0 !important; }

.fontBlack  { color:#333333 !important; }
.fontGray   { color:#999999 !important; }
.fontWhite  { color:#ffffff !important; }
.fontRed    { color:#e40321 !important; }

.bgBlack  { background-color:#333333 !important; }
.bgGray   { background-color:#f2f0f0 !important; }
.bgWhite  { background-color:#ffffff !important; }
.bgNone   { background:transparent none !important; }

.textLeft   { text-align:left !important; }
.textCenter { text-align:center !important; }
.textRight  { text-align:right !important; }

.textTop    { vertical-align:top !important; }
.textMiddle { vertical-align:middle !important; }
.textBottom { vertical-align:bottom !important; }

.underline { text-decoration:underline; }

.textLs { letter-spacing:-0.05em; }


/* ===== Float ===== */
.fl { float:left !important; }
.fr { float:right !important; }
.clear { clear:both !important; }


/* ===== Display ===== */
.block  { display:block !important; }
.inline { display:inline !important; }
.inlineBlock { display:inline-block !important; }
.hidden { overflow:hidden !important; }


/* ===== Position ===== */
.static   { position:static !important; }
.relative { position:relative !important; }
.absolute { position:absolute !important; }

